<html>
	<head>
		<title>绿坝娘资源小站 (仮) | {{ title }}</title>
		<link rel="stylesheet" href="/static/src/css/home/main.css">
		<link rel="icon" type="image/png" sizes="128x128" href="/static/src/img/logo.png">
	</head>
	<body id="home_wallpaper">
		<!-- <div style="height: 20%; width: 200px; background-color: aqua;">
			<img src="/static/src/img/logo.png" alt="logo" style="width: 20%;">
		</div> -->
		<div style="width: 100%; height: 100%;">
			<div style="width: 60%; text-align: right;">
				<h1>绿坝娘资源小站 (<a style="color: white;">仮</a>)</h1>
			</div>
			<br>
			<br>
			<br>
			<div style="width: 100%;">
				<table border="0" style="width: 100%;">
					<th style="width: 20%;"></th>
					<th style="color: rgb(43, 43, 43); font-size: 120%; text-align: left;">
						这是一个文件下载地址
						<br>
						我会在这里提供一些，关于绿坝娘的文件
						<br>
						来提供大家下载
						<br>
						在此特别感谢荧瞳大大的提供
					</th>
				</table>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<li style="font-size: 600%; width: 65%; height: 25%; text-align: right; list-style: none;">
			<a href="/">主页</a>
			<a href="/resources/">资源</a>
			<a href="/bbs/">论坛</a>
			</li>
			<br>
			<br>
			<del>看来我的野心还不小啊！上来就作这么多功能！！</del>
			<br>
			目前firefox是有问题的，但是我个人并不在windows使用firefox，故而不考虑适配
			<br>
			还差一个图片导览暂，做好之后再重定向
			<br>
			<br>
			随机绿坝娘网站
			<br>
			<a href="https://greendam.icu/">https://greendam.icu/</a>
		</div>
	</body>
</html>